<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Show Current Stats</title>
    </head>


     <BODY>
            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for SMU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=smu.getLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=smu.getHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=smu.getLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NUS</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=nus.getLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=nus.getHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=nus.getLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>

            <table border="1">
                <thead>
                    <tr>
                        <th>Stats for NTU</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Latest Price</td>
                        <td><%=ntu.getLatestPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Highest Bid</td>
                        <td><%=ntu.getHighestBidPrice%></td>
                    </tr>
                    <tr>
                        <td>Current Lowest Ask</td>
                        <td><%=ntu.getLowestAskPrice%></td>
                    </tr>
                </tbody>
            </table>

    <hr/>
    Functions available:<br/>
    <ul>
        <li><a href="buy.html">Buy</a></li>
        <li><a href="sell.html">Sell</a></li>
        <li><a href="logout.html">Log out</a></li>
        <li><a href="current.html">Current stats</a></li>
        <li><a href="viewOrders.html">Unfulfilled orders</a></li>
    </ul>
    </BODY>
</html>