<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Show Unfulfilled Orders</title>
</head>
<BODY>
	<!-- unfulfilled bids of SMU -->
	<table border="1">
		<thead>
			<tr>
				<th>For SMU</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Username</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>			
			<% for (var i in smuBids.getUnfulfilledBids){%>
			<tr><td>Unfulfilled Bids (Buy Orders)</td>	<span></span>		
				<td><%= smuBids.getUnfulfilledBids[i].stock %></td>
				<td><%= smuBids.getUnfulfilledBids[i].price %></td>
				<td><%= smuBids.getUnfulfilledBids[i].bidder %></td>
				<td><%= smuBids.getUnfulfilledBids[i].time %></td>
			</tr> 
			<% } %>
			<tr><% for (var i in smuAsks.getUnfulfilledAsks){%>
				<td>Unfulfilled Asks (Sell Orders)</td>
				<td><%= smuAsks.getUnfulfilledAsks[i].stock %></td>
				<td><%= smuAsks.getUnfulfilledAsks[i].price %></td>
				<td><%= smuAsks.getUnfulfilledAsks[i].seller %></td>
				<td><%= smuAsks.getUnfulfilledAsks[i].time %></td>
			</tr> 
			<% } %>
		</tbody>
	</table>

	<br/><br/>
	<!-- unfulfilled bids of NUS -->
	<table border="1">
		<thead>
			<tr>
				<th>For NUS</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Username</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i in nusBids.getUnfulfilledBids){%>
			<tr><td>Unfulfilled Bids (Buy Orders)</td>	<span></span>		
				<td><%= nusBids.getUnfulfilledBids[i].stock %></td>
				<td><%= nusBids.getUnfulfilledBids[i].price %></td>
				<td><%= nusBids.getUnfulfilledBids[i].bidder %></td>
				<td><%= nusBids.getUnfulfilledBids[i].time %></td>
			</tr> 
			<% } %>
			<tr><% for (var i in nusAsks.getUnfulfilledAsks){%>
				<td>Unfulfilled Asks (Sell Orders)</td>
				<td><%= nusAsks.getUnfulfilledAsks[i].stock %></td>
				<td><%= nusAsks.getUnfulfilledAsks[i].price %></td>
				<td><%= nusAsks.getUnfulfilledAsks[i].seller %></td>
				<td><%= nusAsks.getUnfulfilledAsks[i].time %></td>
			</tr> 
			<% } %>
		</tbody>
	</table>

	<br/><br/>

	<!-- unfulfilled bids of NTU -->
	<table border="1">
		<thead>
			<tr>
				<th>For NTU</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Username</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i in ntuBids.getUnfulfilledBids){%>
			<tr><td>Unfulfilled Bids (Buy Orders)</td>	<span></span>		
				<td><%= ntuBids.getUnfulfilledBids[i].stock %></td>
				<td><%= ntuBids.getUnfulfilledBids[i].price %></td>
				<td><%= ntuBids.getUnfulfilledBids[i].bidder %></td>
				<td><%= ntuBids.getUnfulfilledBids[i].time %></td>
			</tr> 
			<% } %>
			<tr><% for (var i in ntuAsks.getUnfulfilledAsks){%>
				<td>Unfulfilled Asks (Sell Orders)</td>
				<td><%= ntuAsks.getUnfulfilledAsks[i].stock %></td>
				<td><%= ntuAsks.getUnfulfilledAsks[i].price %></td>
				<td><%= ntuAsks.getUnfulfilledAsks[i].seller %></td>
				<td><%= ntuAsks.getUnfulfilledAsks[i].time %></td>
			</tr> 
			<% } %>
		</tbody>
	</table>	

	<br/><br/>
	<!-- show remaining credit of each buyer -->
	Remaining Credit of Each User
	<table border="1">
		<thead>
			<tr>
				<th>User ID</th>
				<th>Remaining credit</th>
			</tr>
		</thead>
		<tbody>
			<% for(var i=0; i<getAllCreditRemainingForDisplay.length; i++) {%>
			<tr><td><%= getAllCreditRemainingForDisplay[i].userid %></td>
				<td><%= getAllCreditRemainingForDisplay[i].credit_limit %></td></tr> 
				<% } %>

			</tbody>
		</table>
		<hr/>
		Functions available:<br/>
		<ul>
			<li><a href="buy.html">Buy</a></li>
			<li><a href="sell.html">Sell</a></li>
			<li><a href="logout.html">Log out</a></li>
			<li><a href="current.html">Current stats</a></li>
			<li><a href="viewOrders.html">Unfulfilled orders</a></li>
		</ul>
	</BODY>
	</html>